{% extends 'app/base.html' %}

{% block content %}

<div class="text-center my-5">

    <div class="mb-5">
        <h1>予約は以下よりお願いします</h1>
    </div>
    <div class="row">
        {% for staff in staff_data %}
            <div class="col-lg-3 col-md-6">
                <div class="card img-thumbnail storelist mb-3">
                    <div class="card-body text-center px2 py-3">
                        <h5 class="font-weight-bold">{{ staff.user.first_name }}</h5>
                    </div>
                    <a href="{% url 'calendar' staff.pk %}" class="stretched-link"></a>
                </div>
            </div>
        {% empty %}
            <p>イベントの予定ははありません</p>
        {% endfor %}
    </div>
</div>

{% endblock %}